//Imports
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// Variables
$box-shadow-color-light : rgba(0,0,0,0.25);
$box-shadow-color-dark : rgba(255,255,255,0.20);
$primary : #2F71E9;
$primaryHover:#2a65d1;
$color-dark: #FFFFFF;
$bckColor-dark: rgba(0,0,0,0.8);
$color-light: rgba(0,0,0,0.8);
$bckColor-light: #FFFFFF;



// General Styling
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@import 'header';
@import 'login';
@import 'booklist';
@import 'loader';

.app{
    min-height: 100vh;
    .container{
        width: 90%;
        margin: 20px auto 0;
        padding-bottom: 20px;
    }
    &.dark{
        color:#FFFFFF;
        background-color: $bckColor-dark;
        @include header($box-shadow-color-dark);
        @include loginPage($color-dark, $bckColor-dark, $box-shadow-color-dark);
        @include booklist($color-dark, $bckColor-dark, $box-shadow-color-dark);
        @include loader($color-dark);
        .footer{
            width: 100%;
            text-align: center;
            padding: 10px 0;
            color: $color-dark;
        }
    }
    &.light{
        color:#000000;
        background-color: $bckColor-light;
        @include header($box-shadow-color-light);
        @include loginPage($color-light, $bckColor-light, $box-shadow-color-light);
        @include booklist($color-light, $bckColor-light, $box-shadow-color-light);
        @include loader($color-light);
        .footer{
            width: 100%;
            text-align: center;
            padding: 10px 0;
            color: $color-light;
        }
    }
}
